ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #295a99;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 140px;
    height: 60px; 
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #295a99;
    font-size: 25px;
}

body{
    background-color: #ebebeb;
}

.logo{
    width: 140px;
}
.textlogo{
    padding-bottom: 25px;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }